@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
    <div class="text-center">
        Hello @ViewBag.Greeting World (from the view)
        <p>
            <h3>On va avoir un party en maudit !<br /></h3>
            <h4>(invitez-en du monde, osti !!!)</h4>
        </p>
        <a class="btn btn-primary" asp-action="RsvpForm">RSVP Now</a>
    </div>
</body>
</html>